body{
	text-align: center;
	color: #D01A1A;
	font-family: "Arial Narrow", Arial, sans-serif;
}

.principal{
	width: 70%;
	padding: 1rem;
	text-align: left;
	border: 1px solid #58D05B;
	margin: 0 auto;
}

.cabecera{
	background-color: #E16BE5;
	color: black;
	font-weight: bold;
	margin: 0;
	padding: 0.5rem;
	text-align: center;
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
}

.cabecera #tagline{
	padding: 0 0 0 1rem;
	color: blue;
	font-weight: normal;
}